{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Connexion{% endblock %}

{% block body %}
{{ include('shared/_flashes.html.twig') }}

    <div class="container-fluid d-flex flex-column text-center h-50 justify-content-center mt-5 fw">
        <h1 class="mt-5 mt-lg-0 h1">Connexion</h1>
        <div class="col-8 col-lg-4 d-flex border p-3 ms-auto me-auto mt-5">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}
                <label for="inputEmail">Email</label><br/>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mt-3 ms-auto me-auto no-border w-lg-25 w-50 security-fields" autocomplete="email" required autofocus><br/>
                <label for="inputPassword" class="mt-5">Mot de passe</label><br/>
                <input type="password" name="password" id="inputPassword" class="mt-3 ms-auto me-auto no-border w-lg-25 w-50 security-fields" autocomplete="current-password" required><br/>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <a href="{{ path("app_forgot_password_request") }}"><p class="mt-4 grey-hover">Mot de passe oublié ?<p></a></br>
                <button class="btn btn-lg btn-primary" type="submit">
                    Connexion
                    <i class="fas fa-sign-in-alt ms-2"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
