{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accueil{% endblock %}

{% block body %}
    {{ include('shared/_flashes.html.twig') }}
    <div class="jumbotron jumbotron--home h-100 w-100 container-fluid row text-center p-0 m-0 position-relative align-items-center" id="div_home">
        <div id="snow" class="d-flex position-absolute noScroll-y noScroll-x h-100"></div>
        <div>
            <img src="medias/logo.png" alt="logo du site, un snowboarder blanc" class="col-2">
            <h1 class="display-1 text-white">Snowboard is coming.</h1>
            <h3 class="display-6 text-grey">For real tricker only.</h3>
        </div>
        <div class="bottom-0 text-end position-absolute">
            <a href="#div_tricks"><i class=" btn fas fa-arrow-circle-down fa-3x mb-lg-4 mb-5 white-hover "></i></a>
        </div>
    </div>
    <div class="container-fluid p-2" id="div_tricks">
        {% include 'shared/_trickCard.html.twig' %}
<div class="text-end">
	<a href="#div_home">
		<i class=" btn fas fa-arrow-circle-up fa-3x mb-lg-0 mb-5 grey-hover "></i>
	</a>
</div>

    </div>
{% endblock %}

{% block javascripts %}
<script>
    function generateModal(trick) {
            let trickId = $(trick).attr("data-id");
            let path = "{{ path('trick_delete', {'id' : 'idTrick'}) }}";
            path = path.replace("idTrick", trickId);
            $('#span-trickTitle').text($(trick).attr('data-title'));
            $('#a-trickId').attr('href',path);
        }
    </script>
{% endblock %}