{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Paramètre du compte{% endblock %}

{% block body %}
{% include 'shared/_flashes.html.twig' %}
<div class="row align-items-center h-100 justify-content-center">
    <div class="col-lg-4 col-8 text-center">
        <h1 class="mt-5">{{ app.user.username }}</h1>
        <div class="border p-3 mt-2">
            <img class="of-contennt ms-auto me-auto rounded-circle" height="290" width="290" src="{{ asset('medias/profile/' ~ app.user.profilPicture.name | raw) }}" alt="Photo de profil"/>
            <div class="row d-flex">
                {{ form_start(editUserForm) }}
                    {{ form_row(editUserForm.urlProfilPicture, {'attr': {'class' : 'no-border w-50 mb-5 mt-3 ms-auto me-auto'}}) }}
                    <hr class="w-lg-25 w-50 ms-auto me-auto mb-5"></hr>
                    {{ form_row(editUserForm.password, {'attr': {'class' : 'ms-auto me-auto no-border w-50 security-fields'}}) }}
                    {{ form_row(editUserForm.newPassword, {'attr': {'class' : 'ms-auto me-auto no-border w-50 security-fields'}}) }}
                    {{ form_row(editUserForm.confirmPassword, {'attr': {'class' : 'ms-auto me-auto no-border w-50 security-fields'}}) }}
                    <div class="form-group mt-5 col-lg-5 col-9 ms-auto me-auto">
                        <button type="submit" class="btn btn-primary form-control mb-5">
                            Mettre à jour les informations
                            <i class="fas fa-user-edit ms-2 fa-lg"></i>
                        </button>
                    </div>
                {{ form_end(editUserForm) }}
            </div>
        </div>
    
    </div>
</div>

{% endblock %}