<h1>Hey ! Confirme ton adresse mail pour activer ton compte !</h1>

<p>
    <img src="{{ asset('medias/logo.png') }}" alt="logo du site">
    Clique sur le le lien ci-dessous : <br/><br/>
    <a href="{{ signedUrl }}">Confirmer mon adresse mail</a>.
    Le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A tout de suite !
</p>
