{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Inscription{% endblock %}

{% block body %}
    {{ include('shared/_flashes.html.twig') }}
    <div class="container-fluid d-flex flex-column text-center h-50 justify-content-center mt-5 fw">
        <h1 class="mt-5 mt-lg-5 h1">INSCRIPTION</h1>
        <div class="col-8 col-lg-4 d-flex border p-3 ms-auto me-auto mt-5">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username, {'attr': {'class' : 'ms-auto me-auto no-border w-lg-25 w-50 security-fields'}, 'label' : "Nom d'utilisateur"}) }}
                {{ form_row(registrationForm.email, {'attr': {'class' : 'ms-auto me-auto no-border w-lg-25 w-50 security-fields'}}) }}

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe', 
                    'attr': {'class' : 'ms-auto me-auto no-border w-lg-25 w-50 security-fields'}}
                ) }}

                <button type="submit" class="btn btn-primary mt-3">Valider mon inscription
                    <i class="fas fa-check ms-2"></i>
                </button>
                <a href="{{ path("app_login") }}"><p class="mt-4 grey-hover">Déjà inscrit ?<p></a></br>

            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}
