{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Réinitialisation{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-column text-center h-50 justify-content-center">
    <h1>
        Email Envoyé
        <i class="fas fa-check ms-2"></i>
    </h1>

        <div class="col-4 border p-3 ms-auto me-auto mt-5">
            <p>Si l'adresse mail est liée à un compte existant, vous recevrez un mail avec un lien pour réinitialiser votre mot de passe.</p> <br/>
            <p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p><br/>
            <p>Si vous ne recevez pas de mail, vérifiez que l'adresse soit bien attribuée à un compte, vérifiez également dans votre boite mail, le dossier spams, sinon <a href="{{ path('app_forgot_password_request') }}">Renvoyé un mail</a>.</p>
        </div>
    </div>
{% endblock %}
