{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Mot de passe oublié ?{% endblock %}

{% block body %}
    {{ include('shared/_flashes.html.twig') }}
    <div class="container-fluid d-flex flex-column text-center h-50 justify-content-center">
        <h1>Mot de passe oublié ?</h1>
        <div class="col-4 d-flex border p-3 ms-auto me-auto mt-5">

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email, {'attr': {'class' : 'ms-auto me-auto no-border w-25 security-fields'}}) }}
            <div>
                <small>
                    Nous vous enverrons un lien qui permettra de réinitialiser votre mot de passe.
                </small>
            </div>

            <button class="btn btn-primary mt-1">Envoyer l'email de réinitialisation</button>
        {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
