{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Nouveau mot de passe{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-column text-center h-50 justify-content-center">
        <h1>Réinitialiser le mot de passe</h1>
        <div class="col-4 d-flex border p-3 ms-auto me-auto mt-5">
            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword, {'attr': {'class' : 'ms-auto me-auto no-border w-25 security-fields'}}) }}
                <button class="btn btn-primary">Réinitialiser le mot de passe</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}

