@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@font-face {
    font-family: 'Under The Snow Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Under The Snow Regular'), url('fonts/Under_The_Snow.woff') format('woff');
}

html,body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
form {
    width: 100%;
    height: 100%;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.cardTitle {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
.snowflake {
    z-index: 1;
    display: flex;
    width: 10px;
    height: 8px;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

.noScroll-y {
    overflow-y: hidden;
}
.noScroll-x {
    overflow-x: hidden;
}
.z-2 {
    z-index: 2;
}
.z-3 {
    z-index: 3;
}
.separator {
    border-right: solid 1px white;
}
.white-hover:hover {
    color: white;
}
.grey-hover:hover {
    color: rgb(131, 129, 129);
}
.primary-hover:hover {
    color: #008CBA;
}
.danger-hover:hover {
    color: rgb(231, 62, 62);
}
.delete-hover:hover {
    background-color: rgb(148, 148, 148);
}
.bg-delete {
    background-color: rgb(231, 62, 62);
}
.bg-comment
{
    background-color: #b3b3b3;
}
.of-content {
    object-fit: content;
}
.display-active {
    border: solid 3px #000;
    opacity: .7;
}
.select-active {
    border: solid 1px #008CBA;
    opacity: .6;
}
.delete-active {
    border: 10px solid rgb(231, 62, 62);
    opacity: .5;
}
.MultiFile-title {
    margin-right: 2%;
}
.MultiFile-label {
    margin-top: 2%;
}
.text-color {
    color: #008CBA;
}
.white-text {
    color: #fff
}
.border-danger {
    border: solid 2px rgb(231, 62, 62);
}
.border-white {
    border: solid 2px #fff;
}
.no-border {
    border: none;
}
.fw {
    font-weight: bold;
}
.border-hover:hover {
    border: solid 1px #008CBA;
}

#mobile-menu, #mobile-medias, #submitMainEdit, #selectMainPicture, #importMainPicture {
    display: none;
}
.desktop-images {
    display: block;
}
#mobile-close-medias {
    visibility: collapse;
}

.img-cards {
    height: 15rem;
    width: 100%;
}
.jumbotron {
    height: 100%;
    width: 100%;
}
.jumbotron--home {
    font-family: 'Under The Snow Regular', serif;
    background: url("../medias/hero.png") no-repeat center center fixed;
    background-size: cover;
}
.jumbotron--trick {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
}
.jumbotron-title {
    background-color: #000;
    opacity: .8;
    color: #b3b3b3;
    font-size: 5rem;
}

#desktop-medias {
    overflow-x: scroll;
    white-space: nowrap;
}
#desktop-medias::-webkit-scrollbar {
    height: 15px;
}
#desktop-medias::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
#desktop-medias::-webkit-scrollbar-thumb {
    background-color: #b5b6b6;
    border-radius: 100px;
}

#trick-content, #div-form-add {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
}

.security-fields {
    border-bottom: solid 1px #000;
}