@media screen and (max-width: 992px) {
    #desktop-menu, #desktop-medias, .desktop-images {
        display: none;
    }
    #desktop-medias {
        visibility: collapse;
    }
    #mobile-menu, #mobile-medias {
        display: block;
    }
    .jumbotron--trick {
        height: 50%;
    }
}

