<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ asset("medias/logo.png") }}">
        <title>{% block title %}!{% endblock %}</title>

        <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">

        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/app.css')}} ">
        <link rel="stylesheet" href="{{ asset('css/mobile-app.css') }}">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/d8068975b7.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/PureSnow.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <script>
            $( document ).ready(function() {
                $('.alert').fadeOut(10000);
            })
        </script>

    </head>
    <body class="container-fluid p-0 pt-lg-5">
        {% include "shared/_navbar.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
