{% for rubrique, messages in app.flashes %}
	<div class="alert alert-{{ rubrique }} m-0 mt-4 p-4 text-center position-fixed z-3 w-100">
		{% for message in messages %}
			<p class="mt-3">{{ message }}</p>
		{% endfor %}
	</div>
{% endfor %}
