<div class="modal fade" id="modal-deleteTrick" tabindex="-1" aria-labelledby="m-deleteTrick" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="m-deleteTrick">Supprimer un trick</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Etes-vous sûr de vouloir supprimer "
					<strong>
						{% if trick is defined %}
							{{ trick.title }}
						{% else %}
							<span id="span-trickTitle"></span>
						{% endif %}
					</strong>
					" ? Cette action est irréversible.</p>
			</div>
			<div class="modal-footer" id="delete-modalFooter">
				<button type="button" class="btn btn-secondary primary-hover" data-bs-dismiss="modal">Annuler</button>
				{% if trick is defined %}
					<a href="{{ path('trick_delete', {'id' : trick.id}) }}">
				{% else %}
					<a id="a-trickId" href="#">
				{% endif %}	
				<button type="button" class="btn bg-delete text-white delete-hover">Supprimer</button></a>
			</div>
		</div>
	</div>
</div>

{% if editTrick is defined %}
	<div class="modal fade" id="modal-editMainPicture" tabindex="-1" aria-labelledby="m-editMainPicture" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="m-editMainPicture">Modifier l'image principale</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="resetEditModal()"></button>
				</div>
				<div class="modal-body text-center">
					<div id="actionContent">
						<h1>Que voulez-vous faire ?</h1>
						<div class="row d-flex justify-content-between mt-3 p-3">
							<div class="col-5 d-flex border pt-3 pb-3 ms-auto me-auto">
								<button type="button" class="btn primary-hover" onclick="uploadMainPicture()">
									<i class="fas fa-upload fa-2x"></i></br>
									Importer une nouvelle image
								</button>
							</div>
							{% if trick.countImages() > 1 %}
								<div class="col-5 border pt-3 pb-3 me-auto ms-auto" id="selectExistPicture">
									<button type="button" class="btn primary-hover" onclick="selectExistingPicture()">
										<i class="fas fa-images fa-2x"></i></br>
										Choisir une image existante
									</button>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="selectFile">
						<div class="container-fluid text-center" id="importMainPicture">
							{{form_row(editTrick.mainPicture, {"attr" : {"id" : "imgPreview", "onchange" : "previewPicture(this)"}}) }}
						</div>
						<div class="container-fluid text-center" id="selectMainPicture">
							<h2>Sélectionnez une image</h2>
							<div class="mt-3 d-flex justify-content-center row">
								{{ form_widget(editTrick.mainExist, {"attr" : {"class" : "d-none"}}) }}
								{% for media in trick.medias %}
									{% if media.type == "image" %}
										{% if media.name | raw != trick.mainPicture.name | raw %}
											<img onclick="imgSelect(this.id)" alt="images du trick" class="border me-2 mb-2 btn col-3 border-hover" src="{{ asset('medias/upload/' ~ media.name | raw) }}" id="selectMedia_{{ media.id }}">
										{% endif %}		
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" id="editMain-modalFooter">
					<button type="button" onclick="resetEditModal()" class="btn text-white bg-delete delete-hover p-2 rounded" data-bs-dismiss="modal">Annuler</button>
					<input type="submit" class="btn btn-primary" id="submitMainEdit" value="Enregistrer"></input>
				</div>
			</div>
		</div>
	</div>
{% endif %}

<div class="modal fade" id="modal-deleteMedia" tabindex="-1" aria-labelledby="m-deleteMedia" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="m-deleteMedia">Supprimer un Media</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="resetDeleteSelect()"></button>
			</div>
			<div class="modal-body">
				<p>Etes-vous sûr de vouloir supprimer ce média ? Cette action est irréversible.</p>
			</div>
			<div class="modal-footer" id="delete-modalFooter">
				<button type="button" class="btn btn-secondary primary-hover" data-bs-dismiss="modal" onclick="resetDeleteSelect()">Annuler</button>
				<a href="" id="a-deleteOneMedia">
					<button type="button" class="btn bg-delete text-white delete-hover">Supprimer</button>
				</a>
			</div>
		</div>
	</div>
</div>

{% if editTrick is defined %}
	<div class="modal fade" id="modal-replaceMedia" tabindex="-1" aria-labelledby="m-replaceMedia" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="m-replaceMedia">Remplacer un Media</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row p-2">
						<div class="col" id="previewContent">

						</div>
						<div class="col d-flex align-items-center">
							<i class="fas fa-arrow-right fa-2x ms-auto me-auto"></i>
						</div>
						<div class="col d-flex align-items-center" id="selectReplace">
							
						</div>
					</div>
				</div>
				<div class="modal-footer" id="delete-modalFooter">
					<button type="button" class="btn btn-secondary primary-hover" data-bs-dismiss="modal">Annuler</button>
					<input type="submit" value="Remplacer" class="btn bg-primary text-white delete-hover"></input>
				</div>
			</div>
		</div>
	</div>
{% endif %}