<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top row justify-content-between p-2" id="desktop-menu">
    <div class="col-xl-3 col-2">
        <a class="navbar-brand row align-items-center" href="{{ path('homepage') }}">
            <img src="{{ asset('medias/logo.png') }}" alt="" class="img-fluid ms-3 me-1 col-xl-3 col-md-6">
            <p class="col">SnowTricks</p>
        </a>
    </div>
        
    <div class="col-xl-5 p-0 col-lg-6 col-8">
            <ul class="navbar-nav p-0 text-center">
                <li class="nav-item separator p-1 col align-self-center">
                    <a class="nav-link active" href="{{ path('homepage') }}">Accueil</a>
                </li>
                {% if app.user %}
                    <li class="nav-item separator p-1 col dropdown align-self-center">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trick</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('homepage', {'_fragment' : 'div_tricks'}) }}">Tous les tricks</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('trick_add') }}">Ajouter un nouveau</a>
                        </div>
                    </li>
                    <li class="nav-item separator p-1 col">
                        <a class="nav-link" href="{{ path('security_edit') }}">
                            <img alt="photo de profil" src="{{ asset('medias/profile/' ~ app.user.profilPicture.name)}}" class="rounded-circle" width="50" height="50"><br/>
                            Mon compte
                        </a>
                    </li>
                    <li class="nav-item p-1 col align-self-center">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt me-2"></i><br />
                            Déconnexion
                        </a>
                    </li>         
                {% else %}
                    <li class="nav-item separator p-1 col align-self-center">
                        <a class="nav-link" href="{{ path('homepage', {'_fragment' : 'div_tricks'}) }}">Tous les tricks</a>
                    </li>
                    <li class="nav-item separator p-1 col">
                        <a class="nav-link" href="{{ path('app_register') }}">
                            <i class="fas fa-user me-2"></i><br />
                            Inscription
                        </a>
                    </li>
                    <li class="nav-item p-1 col">
                        <a class="nav-link" href="{{ path('app_login') }}">
                            <i class="fas fa-sign-in-alt me-2"></i><br />
                            Connexion
                        </a>
                    </li>          
                {% endif %}
            </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-bottom row justify-content-between p-2" id="mobile-menu">
    <div class="row text-center text-white">
        <div class="col">
            <a href="{{ path('homepage') }}">
                <i class="fas fa-home fa-2x"></i>
            </a>
        </div>
        <div class="col">
            {% if app.user %}
                <div class="dropup">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" id="dropdown-trick" aria-expanded="false">
                        <i class="fas fa-bookmark fa-2x"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-trick">
                        <li><a class="dropdown-item" href="{{ path('homepage', {'_fragment' : 'div_tricks'}) }}">Tous les tricks</a></li>
                        <li><a class="dropdown-item" href="{{ path('trick_add') }}">Nouveau trick</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{{ path('homepage', {'_fragment' : 'div_tricks'}) }}">
                    <i class="fas fa-bookmark fa-2x"></i>
                </a>
            {% endif %}           
        </div>
        <div class="col">
            {% if app.user %}
                <div class="dropup">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" id="dropdown-account" aria-expanded="false">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-account">
                        <li><a class="dropdown-item" href="{{ path('security_edit') }}">Mon compte</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="dropup">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" id="dropdown-account" aria-expanded="false">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-account">
                        <li><a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
