<div class="container-fluid p-0">
    {{ include("shared/_modals.html.twig") }}
    <div class="row d-flex justify-content-center content" id="content-trick">
        {% for trick in tricks %}
            <div class="items col-xl-2 col-lg-5 col-md-5 col-sm-6 col-11 mb-5 me-lg-3 me-sm-1 p-0">
                <a href="{{ path('trick_show', {'slug': trick.slug}) }}">
                    <div class="card btn p-0 w-90 h-100">
                        <img src="{{ asset('medias/upload/' ~ trick.mainPicture.name | raw) }}" alt="image du trick" class="img-cards of-content">
                        <div class="card-body d-flex justify-content-between">
                            <h3 class="d-inline-flex cardTitle fw">{{ trick.title }}</h3>
                            {% if app.user %}
                                {% if trick.author and trick.author.id != 0 %}
                                    {% if app.user and app.session.get('username') == trick.author.username %}
                                        <div>
                                            <a href="{{ path('trick_edit', {'slug': trick.slug}) }}">
                                                <button type="button" class="btn d-inline-flex primary-hover">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                            </a>
                                            <button type="button" class="btn d-inline-flex danger-hover" onClick="generateModal(this)"data-bs-toggle="modal" data-bs-target="#modal-deleteTrick" data-title="{{ trick.title }}" data-id="{{ trick.id }}">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    {% endif %}                                      
                                {% endif %}                                     
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% block javascripts %}
	<script src="{{ asset('js/jquery.simpleLoadMore.js')}}"></script>
{% endblock %}
