{% extends "base.html.twig" %}

{% block title %}
    Snowtricks - Ajouter un nouveau
{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron--home container-fluid row text-center p-0 m-0 position-relative align-items-center">
        <div id="snow" class="d-flex position-absolute noScroll-y noScroll-x h-100"></div>
            <div class="container border col-lg-8 col-10 bg-secondary p-3 rounded z-2 fw" id="div-form-add">
                <h1 class="display-1 text-grey">Ajouter un trick</h1>
                {{ form_start(formTrick) }}
                        <div class="row mt-5 col-xl-8 col-lg-10 col-12 ms-auto me-auto">
                            <div class="form-group col-xl col-lg col-10 ms-auto me-auto">
                                {{ form_row(formTrick.title) }}
                            </div>
                            <div class="form-group col-xl col-lg col-10 ms-auto me-auto">
                                {{ form_row(formTrick.content) }}
                            </div>
                        </div>
                        <div class="row col-xl-8 col-lg-10 col-12 ms-auto me-auto">
                            <div class="form-group col-xl col-lg col-10 ms-auto me-auto">
                                {{ form_row(formTrick.tag) }}
                            </div>
                            <div class="form-group col-xl col-lg col-10 ms-auto me-auto">
                                {% if error is defined %}
                                    {{ form_row(formTrick.medias, {'attr': {'class': 'border-danger multi with-preview max-100 accept-jpg|png'}}) }}
                                    <p class="text-danger">{{ error }}</p>
                                {% else %}                                  
                                    {{ form_row(formTrick.medias, {'attr': {'class': 'multi with-preview max-100 accept-jpg|png'}}) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="flex-row mt-3">
                            {{ form_label(formTrick.addVideo) }}
                            <ul id="video-fields-list" data-prototype="{{ form_widget(formTrick.addVideo.vars.prototype, {'attr': {'class': 'w-50 mb-3'}})|e }}" data-widget-tags='<li class="row d-flex justify-content-center" id="li_trick_addVideo_"></li>' data-widget-counter="{{ formTrick.addVideo|length }}">

                            </ul>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="button" class="btn p-0 add-field" data-list-selector="#video-fields-list">
                                <i class="far fa-plus-square fa-3x"></i>
                            </button>
                        </div>
                        <div class="form-group mt-5 col-lg-4 col-8 ms-auto me-auto">
                            <button type="submit" class="btn btn-primary form-control mb-5">
                                Ajouter le trick
                                <i class="fas fa-plus ms-2 fa-lg"></i>
                            </button>
                        </div>
                {{ form_end(formTrick, {'render_rest':false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.MultiFile.min.js')}}" type="text/javascript" language="javascript"></script>
    <script src="{{ asset('js/symfonyCollection.js')}}" type="text/javascript" language="javascript"></script>
{% endblock %}
