{% extends 'base.html.twig' %}

{% block title %}
	Snowtricks - Edition
{% endblock %}

{% block body %}
        {{ form_start(editTrick) }}
        {{ include("shared/_modals.html.twig", {'trick' : trick}) }}
    <div class="jumbotron jumbotron--home container-fluid row p-0 m-0 position-relative mt-lg-3" id="div_home">
	    <div id="snow" class="d-flex position-absolute noScroll-y noScroll-x h-100"></div>
        <div class="container border col-lg-8 col-10 bg-secondary p-0 mt-lg-4 h-100">
            <div class="m-0 align-items-center row jumbotron jumbotron--trick position-relative z-2 h-100" id="media_{{ trick.mainPicture.id }}" style="background-image: url('{{ asset('medias/upload/' ~ trick.mainPicture.name | raw) }}')">
                <div class="bg-dark col-lg-2 col-5 row rounded-pill position-absolute p-2 top-0 end-0 mt-5 me-3 white-text">
                    <i class="col btn fas fa-pencil-alt fa-2x primary-hover white-text" data-bs-toggle="modal" data-bs-target="#modal-editMainPicture"></i>
                    {% if trick.countImages() > 1 %}
                        <button type="button" onclick="mediaDelete(this)" id="delete_{{ trick.mainPicture.id }}" class="white-text col btn fas fa-trash-alt fa-2x danger-hover" data-bs-toggle="modal" data-bs-target="#modal-deleteMedia" data-trick={{ trick.id }}></button>          
                    {% endif %}
                    <div class="flex-row text-center justify-content-center">
                    <h3>Mode Edition</h3>
                    </div>
                </div>
                <div class="jumbotron-title text-center">
                    <h1 class="display-1 fw">{{ trick.title }}</h1>
                </div>
            </div>
            <div class="row text-center container-fluid bg-primary p-2 m-0 white-hover" id="mobile-medias">
                <button class="btn btn-success col-lg-3 col-6" onclick="showMedia()">Voir les medias</button>
            </div>
            <div class="row d-flex text-end m-0 bg-primary p-0 pe-2" id="mobile-close-medias">
                <i class="far fa-times-circle fa-2x mt-2 p-0 white-hover" onclick="closeMedia()"></i>
            </div>
            <div class="container-fluid d-flex flex-column bg-primary position-relative m-0 p-0 pt-3" id="desktop-medias">
                <div class="d-flex p-2">
                    <div class="col-xl-3 col-lg-8 col-md-6 col-12 me-2 desktop-images ms-auto me-auto">
                        <img src="{{ asset('medias/upload/' ~ trick.mainPicture.name | raw) }}" class="col-lg-11 col-8 h-75 of-content display-active" onclick="displayMedia(this)" alt="image du trick" id="media_{{ trick.mainPicture.id }}">
                    </div>
                    {% for media in trick.medias %}
                        {% if media.name | raw != trick.mainPicture.name | raw %}
                            {% if media.type == "image" %}
                                <div class="col-xl-3 col-lg-5 col-md-6 col-12 me-2 desktop-images ms-auto me-auto">
                                    <img src="{{ asset('medias/upload/' ~ media.name | raw) }}" class="col-lg-11 col-8 h-75 of-content" onclick="displayMedia(this)" alt="image du trick" id="media_{{ media.id }}">
                                    <div class="bg-light row col-4 mt-3 ms-auto me-auto rounded-pill">
                                        <button type="button" onclick="mediaReplace(this,'image')" id="replace_{{ media.id }}" class="col btn fas fa-pencil-alt fa-lg fa-sm danger-hover" data-bs-toggle="modal" data-bs-target="#modal-replaceMedia" data-path={{ media.name }}></button>
                                        <button type="button" onclick="mediaDelete(this)" id="delete_{{ media.id }}" class="col btn fas fa-trash-alt fa-lg fa-sm danger-hover" data-bs-toggle="modal" data-bs-target="#modal-deleteMedia" data-trick={{ trick.id }}></button>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xl-3 col-lg-5 col-md-6 col-12 me-2 desktop-images ms-auto me-auto" id="media_{{ media.id }}">
                                    <script>convertUrl("{{ media.name }}","{{ media.id }}",210)</script>
                                    <div class="bg-light row col-4 mt-3 ms-auto me-auto rounded-pill">
                                        <button type="button" onclick="mediaReplace(this,'video')" id="replace_{{ media.id }}" class="col btn fas fa-pencil-alt fa-lg fa-sm danger-hover" data-bs-toggle="modal" data-bs-target="#modal-replaceMedia" data-path={{ media.name }}></button>
                                        <button type="button" onclick="mediaDelete(this)" id="delete_{{ media.id }}" class="col btn fas fa-trash-alt fa-lg fa-sm danger-hover" data-bs-toggle="modal" data-bs-target="#modal-deleteMedia" data-trick={{ trick.id }}></button>
                                    </div>
                                </div>
                            {% endif %}
                            
                        {% endif %}
                    {% endfor %}
                </div>
		    </div>
            <div class="container-fluid bg-primary p-2">
                <div class="container w-75">
                    {{ form_widget(editTrick.title, {'attr' : {'class' : 'w-75 mb-1 mt-5'}}) }}
                    <div class="mb-3">
                        {{ form_errors(editTrick.title) }}
                    </div>
                    {{ form_widget(editTrick.content, {'attr' : {'class' : 'mb-1'}}) }}
                    <div class="mb-3">
                        {{ form_errors(editTrick.content) }}
                    </div>
                    {{ form_widget(editTrick.tag, {'attr' : {'class' : 'w-50'}}) }}
                    {{ form_widget(editTrick.medias, {'attr' : {'class' : 'd-none'}}) }}
                </div>
                <div class="row mt-3 d-flex justify-content-end p-4 mb-5">
                    <div class="col-lg-2 col-5 bg-delete me-3 text-center">
                        <button type="button" class="col btn white-hover" data-bs-toggle="modal" data-bs-target="#modal-deleteTrick">Supprimer</button>
                    </div>
                    <div class="col-lg-2 col-5 bg-secondary text-center">
                        <input type="submit" class="btn primary-hover" value="Enregistrer"></input>
                    </div>
                </div>
            </div>
        {{ form_end(editTrick, {'render_rest':false}) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.MultiFile.min.js')}}" type="text/javascript" language="javascript"></script>
    <script>
    function mediaDelete(id) {
        let idTrick = $(id).attr("data-trick");
        let idMedia = $(id).attr("id").split('_')[1];
        let path = "{{ path('trick_mediaDelete', {'id_trick' : 'idTrick', 'id_media' : 'idMedia'}) }}";
        $('*').toggleClass("delete-active", false);
        $('#media_' + idMedia).toggleClass("delete-active");
        path = path.replace("idTrick", idTrick);
        path = path.replace("idMedia", idMedia);
        
        $('#a-deleteOneMedia').attr('href', path);
    }
    function mediaReplace(media,type) {
        let pathMedia = $(media).attr("data-path");
        let mediaId = $(media).attr("id").split('_')[1];
        let path = "{{asset('medias/upload/pathMedia')}}";
        path = path.replace("pathMedia", pathMedia);
        $('#previewContent').empty();
        $('#selectReplace').empty();
        $('#selectReplace').append('{{ form_widget(editTrick.replaceExist, {"attr" : {"class" : "d-none", "id" : "trick_replaceExist"}}) }}');
        $('#trick_replaceExist').val(mediaId);
        if(type == "image")
        {
            $('#previewContent').append('<img src="' + path + '" class="mt-2" alt="image à remplacer" id="imgPreviewReplace">');
            $('#selectReplace').append('{{ form_widget(editTrick.replacePicture, {"attr" : {"id" : "imgPreview", "onchange" : "previewReplace(this)"}}) }}')
        }
        else {
            $('#previewContent').append(previewUrl(pathMedia,mediaId));
            $('#selectReplace').append('{{ form_row(editTrick.singleVideo) }}')
        }
    }
</script>
{% endblock %}