{% extends 'base.html.twig' %}

{% block title %}Snowtricks - {{ trick.title }}{% endblock %}

{% block body %}
    {{ include("shared/_modals.html.twig", {'trick' : trick}) }}
    {{ include('shared/_flashes.html.twig') }}
    <div class="jumbotron jumbotron--home container-fluid row text-center p-0 m-0 position-relative" id="div_home">
        <div id="snow" class="d-flex position-absolute noScroll-y noScroll-x h-100"></div>
        <div class="container border col-lg-8 col-10 bg-secondary p-0 z-2 mt-lg-4 h-100">
            <div class="m-0 align-items-center row jumbotron jumbotron--trick position-relative" id="display-media" style="background-image: url('{{ asset('medias/upload/' ~ trick.mainPicture.name | raw) }}')">
                {% if trick.author and trick.author.id != 0 %}
                    {% if app.user and app.session.get('username') == trick.author.username %}
                        <div class="bg-dark col-lg-2 col-5 row rounded-pill position-absolute p-2 top-0 end-0 mt-5 me-3 white-text">
                            <a class="col" href="{{ path('trick_edit', {'slug' : trick.slug }) }}"><i class="btn fas fa-pencil-alt fa-2x primary-hover white-text"></i></a>
                            <i class="white-text col btn fas fa-trash-alt fa-2x danger-hover" data-bs-toggle="modal" data-bs-target="#modal-deleteTrick"></i>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="jumbotron-title">
                    <h1 class="fw">{{ trick.title }}</h1>
                </div>
            </div>
            <div class="row container-fluid bg-primary p-2 m-0 white-hover" id="mobile-medias">
                <button class="btn btn-success col-lg-3 col-6" onClick="showMedia()">Voir les medias</button>
            </div>
            <div class="row d-flex text-end m-0 bg-primary p-0 pe-2" id="mobile-close-medias">
                <i class="far fa-times-circle fa-2x mt-2 p-0 white-hover" onClick="closeMedia()"></i>
            </div>
            <div class="container-fluid d-flex flex-column bg-primary position-relative m-0 p-0 pt-3" id="desktop-medias">
                <div class="d-flex p-2">
                    <div class="col-xl-3 col-lg-8 col-md-6 col-12 me-2 desktop-images ms-auto me-auto">
                        <img src="{{ asset('medias/upload/' ~ trick.mainPicture.name | raw) }}" class="col-lg-11 col-8 h-75 of-content display-active" onclick="displayMedia(this)" alt="image du trick" id="media_{{ trick.mainPicture.id }}">
                    </div>
                    {% for media in trick.medias %}
                        {% if media.name | raw != trick.mainPicture.name | raw %}
                            {% if media.type == "image" %}
                                <div class="col-xl-3 col-lg-5 col-md-6 col-12 me-2 desktop-images ms-auto me-auto">
                                    <img src="{{ asset('medias/upload/' ~ media.name | raw) }}" class="col-lg-11 col-8 h-75 of-content" onClick="displayMedia(this)" alt="image du trick" id="media_{{ media.id }}">
                                </div>
                            {% else %}
                                <div class="col-xl-3 col-lg-5 col-md-6 col-12 me-2 desktop-images ms-auto me-auto" id="media_{{ media.id }}">
                                    <script>convertUrl("{{ media.name }}","{{ media.id }}",182)</script>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="container-fluid bg-light p-lg-2 p-1" id="trick-content">
                <p class="mt-3">{{ trick.content }}</p>
                <div class="p-3 row mt-5 rounded-pill bg-dark mb-3">
                    <div class="col me-1 text-white p-0 align-self-center ms-auto">
                        <p>Publié le: </p>
                        <p>{{ trick.create_date | date('d/m/y')}}</p>
                    </div>
                    <div class="col me-1 text-white p-0 align-self-center">
                        <p>Modifié le: </p>
                        <p>{{ trick.edit_date | date('d/m/y')}}</p>
                    </div>
                    <div class="col text-white p-0 align-self-center me-auto">
                        <p>Tag: </p>
                        <p>{{ trick.tag.title }}</p>
                    </div>
                </div>
                <hr></hr>
                {{ form_start(commentForm) }}
                    <div class="mt-3">
                        <div class="ms-auto me-auto row mb-3 ps-5 pe-5">
                            {% if app.user %}
                                {{ form_widget(commentForm.content, {'attr' : {'class' : 'col-sm-8 col-lg me-3'}}) }}
                                <button type="submit" class="btn btn-primary col-lg-3 mt-2 mt-lg-0">
                                    Laisser un commentaire
                                    <i class="fas fa-plus ms-2 fa-lg"></i>
                                </button>
                            {% else %}
                                {{ form_widget(commentForm.content, {'attr' : {'class' : 'col-sm-8 col-lg me-3', 'disabled' : true, 'placeholder' : 'Vous devez etre connecte pour laisser un commentaire.'}}) }}
                                <button type="submit" class="btn btn-primary col-lg-3 mt-2 mt-lg-0" disabled>
                                    Laisser un commentaire
                                    <i class="fas fa-plus ms-2 fa-lg"></i>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                {{ form_end(commentForm) }}           
                <hr></hr>
                <div class="content" id="content-comment">
                    {% for comment in trick.comments | reverse %}
                    <div class="items row mt-2 text-start col-lg-8 ms-auto me-auto">
                        <div class="col-lg-1 col-3"><img alt="photo de profil" class="rounded-circle" src="{{ asset('medias/profile/' ~ comment.author.profilPicture.name | raw) }}" /></div>
                        <div class="col-lg col-9 bg-comment">
                            <p class="fw">{{ comment.author.username }}</p>
                            <p>{{ comment.content }}</p>
                        </div>
                        <div class="row text-end d-flex">
                            <p>{{ comment.createdAt | date('d/m/y H:m')}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.simpleLoadMore.js') }}"></script>
{% endblock %}